* {
	font-family: sans-serif;
}

body {
	background-color: #EEE;
}
hr {
	width: 98%;
}
/* --- Navigation Logo Section --- */
nav {
	height: 130px;
}

nav .logo {
	display: inline-block;
	padding-top: 30px;
	padding-left: 10px;
}

nav .logo p {
	display: inline-block;
	font-family: 'Cookie', cursive;
	font-size: 30px;
	padding-left: 10px;
}

nav .logo .fa {
	color: #EE90A2;
	font-size: 22px;
}

/* --- Navigation Links Section --- */
nav ul {
	display: inline-block;
	margin-left: 585px;
}

nav ul li {
	display: inline-block;
	padding: 0 30px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

/* --- Header Section --- */
header {
	text-align: center;
	padding-top: 50px;
}

header h1 {
	font-size: 24px;
	font-weight: 400;
}

header span {
	color: #EE90A2;
}

header h4 {
	font-weight: 300;
}

/* --- Main Photo Section --- */

.spain {
	text-align: center;
	padding-top: 30px;
}

.spain img {
	border-radius: 25px;
}

/* --- 'About' and 'My Work' Section --- */
.info {
	text-align: center;
	display: inline-block;
	margin-top: 30px;
}

.about {
	display: inline-block;
	width: 50%;
	float: left;
}

.work {
	display: inline-block;
	width: 50%;
	float: right;
}

.about h4 {
	font-family: 'Cookie', cursive;
	color: #EE90A2;
	font-size: 28px;
}

.work h4 {
	font-family: 'Cookie', cursive;
	color: #EE90A2;
	font-size: 28px;
}

.about p {
	text-align: left;
	padding: 0 30px;
}

.work p {
	text-align: left;
	padding: 0 30px;
}







