* {
	font-family: sans-serif;
}

body {
	background-color: #EEE;
	margin: 0;
}
hr {
	width: 98%;
}
/* --- Navigation Logo Section --- */
nav {
	height: 130px;
}

nav .logo {
	display: inline-block;
	padding-top: 30px;
	padding-left: 10px;
}

nav .logo p {
	display: inline-block;
	font-family: 'Cookie', cursive;
	font-size: 30px;
	padding-left: 10px;
}

nav .logo .fa {
	color: #EE90A2;
	font-size: 22px;
}

/* --- Navigation Links Section --- */
nav ul {
	display: inline-block;
	margin-left: 585px;
}

nav ul li {
	display: inline-block;
	padding: 0 30px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
}

/* --- Header Section --- */
header {
	text-align: center;
	padding-top: 50px;
}

header h1 {
	font-size: 24px;
	font-weight: 400;
}

header span {
	color: #EE90A2;
}

header h4 {
	font-weight: 300;
}

/* --- Main Photo Section --- */

.spain {
	text-align: center;
	padding-top: 30px;
}

.spain img {
	border-radius: 25px;
}

/* --- 'About' and 'My Work' Section --- */
.info {
	text-align: center;
	display: inline-block;
	margin-top: 30px;
}

.about {
	display: inline-block;
	width: 50%;
	float: left;
}

.work {
	display: inline-block;
	width: 50%;
	float: right;
}

.about h4 {
	font-family: 'Cookie', cursive;
	color: #EE90A2;
	font-size: 28px;
}

.work h4 {
	font-family: 'Cookie', cursive;
	color: #EE90A2;
	font-size: 28px;
}

.about p {
	text-align: left;
	padding: 0 30px;
}

.work p {
	text-align: left;
	padding: 0 30px;
}

/* --- Portfolio Sectio --- */
.portfolio {
	margin-top: 50px;
	margin-left: 75px;
}

figure {
	display: inline-block;
	/*border: 1px solid #000;*/
	border-radius: 15px;
	overflow: hidden;
	margin: 8px;
}

figcaption {
	background-color: #FFF;
	padding: 5px;
	height: 40px;
	margin-top: -5px;
}

figcaption span {
	font-size: 12px;
	color: #EE90A2;
}

/* --- Fairwell Section --- */
.fairwell {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}

.fairwell h2 {
	font-family: 'Cookie', cursive;
	color: #EE90A2;
	font-size: 28px;
}

/* --- Footer --- */
footer {
	background-color: #2D2D2D;
	height: 400px;
	width: 100%;
}

.form {
	margin: 0;
	width: 50%;
	display: inline-block;
}

.form h2 {
	font-family: 'Cookie', cursive;
	color: #EE90A2;
	font-size: 28px;
	padding-top: 50px;
	margin-left: 10px;
}

.form form input {
	display: block;
	padding: 5px;
	margin: 10px;
	width: 500px;
	border: none;
	color: #2D2D2D;
}

.form form textarea {
	display: block;
	padding: 5px;
	margin: 10px;
	width: 500px;
	border: none;
	color: #2D2D2D;
}

.form form button {
	display: block;
	padding: 5px;
	margin: 10px;
	background-color: #2D2D2D;
	color: #FFF;
	border: none;
}

.form form button:hover {
	cursor: pointer;
}

/* --- social media links -- */

.social-media {
	/*display: inline-block;*/
	text-align: right;
	margin-top: -135px;
	/*margin-left: 600px*/
	/*margin-bottom: 500px;*/
	/*padding-left: 450px;*/

}

.social-media i {
	padding: 11px;
	background-color: #EE90A2;
	border-radius: 30px;
	margin: 10px;
	width: 18;
	text-align: center;
}

.social-media i:nth-child(2) {
	width: 16px;
	text-align: center;
	/*padding: 15px;*/
}

.social-media i .fa {
	display: inline-block;
	padding: 20px;
	padding-bottom: 600px;
	background-color: #EE90A2;
}

.social-media a {
	color: #2D2D2D;
	text-decoration: none;
}



